@import '../../assets/styles/colors';

.ingredientTag{
    display: inline-block;
    background-color: $tagBackground;
    color: gray;
    padding: 10px;
    margin-left:10px;
    margin-bottom: 10px;
    font-size: 11px;
    border-radius: 5px;
    cursor: default;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    user-select: none;

    &.selected{
        background-color: $green;
        color: white;
    }
}